.main {
    background-image: url(/map.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    min-height: 100vh;
    padding: 20px;
    margin: 0;
}

.item-container {
    background-image: url(/map.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--locatioColor);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
}
  
.item-label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
  
.category {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
  
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 350px;
}
  
.card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;   
}
  
.card-content {
    padding: 10px;
}
  
.card-location {
    color: var(--locatioColor);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
  
.card-price {
    color: var(--priceColor);
    font-size: 14px;
    margin-bottom: 5px;
}
  
.card-description {
   font-family: Arial, sans-serif;
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    .cards-container {
        justify-content: center;
        text-align: center;
    }

    .card {
        width: 48%;
        margin-bottom: 10px;
    }
}
  

  







  
  
  
  
