.subContainer {
    background-image: url(/mail.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    
    }
    
.content {
    max-width: 30%; 
    padding: 20px;
    margin-right: 25px;
    
}

h1 { 
    font-size: 30px;
    opacity: 0;
    transition: font-size 2s ease 2s, opacity 2s ease 2s;
  }
  
.subContainer.active h1 {
    font-size: 48px;
    opacity: 1;
  }
  
@keyframes fadeIn {
    from {
        opacity: 0;
        font-size: 30px;
    }
    to {
        opacity: 1;
        font-size: 48px;
    }
    }

    h1 {
    margin: 0;
    animation: fadeIn 0.5s ease;
}
      
@media only screen and (min-width: 768px) {
    .subContainer {
        justify-content: center;
        align-items: center;
      }
    .content {
      max-width: 60%;
      margin-right: 0;
    }
  }
  
  /* Didinimas dar didesniam ekrano dydžiui */
  @media only screen and (min-width: 1200px) {
    .content {
      max-width: 80%;
    }
  }          
      